.wrapper {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    font-size: 100px;
}

.countryname {
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}